# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
myenv/ # Your specific conda environment name
.venv/
lib/
lib64/
include/
bin/
share/
local/

# Byte-code files
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.manifest
*.spec

# PyInstaller
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
htmlcov/
.nox/

# Editors
.vscode/
.idea/
*.swp
*.bak
*~

# Jupyter Notebook
.ipynb_checkpoints/
# Jupyter's hidden data files
.jupyter/
# Jupyter Lab's settings and data
.ipynb_metadata/

# Data
generated_samples/
myenv/
references/
*.ipynb
architecture_and_training_plan.md
dataset
# Model Checkpoints and Logs
*.pt
*.pth
*.hdf5
runs/
logs/
checkpoints/
outputs/
# Decord cache (if created)
.decord/

# MacOS files
.DS_Store

# Windows files
Thumbs.db
